<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Registro de Contacto</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
	<h1>Registro de Contacto</h1>
	<div th:replace="menu.html"></div>
	<form th:action="@{/registro}" method="post" th:object="${contacto}">
		<label for="nombres">Nombres:</label>
		<input type="text" class="form-control col-md-6 col-lg-4" id="nombre" placeholder="Ingrese su nombre"
			th:field="${contacto.nombre}" required />
		<br>
		<label for="direccion">Dirección:</label>
		<input type="text" class="form-control col-md-6 col-lg-4" id="direccion" placeholder="Ingrese su dirección"
			th:field="${contacto.direccion}" required />
		<br>
		<button type="submit" class="btn btn-primary">Registrar</button>
	</form>
</body>

</html>